nav {
    background-color: aqua;
  
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navFunctionality {
    display: flex;
    align-items: center;
}

.navFun_item {
    padding: 0 1.5rem;
}

.navLogo img {
    width: 40px;
    height: 40px;
    padding: 0 1rem;
}
.icon {
    width: 20px;
}

.user-profile {
    display: flex;
}

.user-profile-photo {
    padding-right: 1.5rem;
}

.admin_view {
    display: flex;
}
.admin_nav_container {
    padding-top: 1rem;
    box-shadow: 0px 2px 5px rgba(27, 23, 23, 0.333);
    height: 100vh;

}
.admin_nav {
    width: 15rem;
}

.content_main {
    padding-left: 1rem;
}

.admin_nav_item {
    text-decoration: none;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
}

.horizontal_line {
    border-bottom: 1px solid #0000006a;
    width: 100%;
    margin: 1rem 0;
}